<%- include("../common/header.ejs") %>
    <%- include("../common/Navbar.ejs") %>
        <%- include("../common/Sidebar.ejs") %>

            <% if(msg !=='' ) { %>
                <div class="alert alert-success msg"
                    style="position: absolute; z-index: 9999; color:rgb(36, 23, 23); background-color: #e0d1bf; right: 10px; top: 10px;">
                    <span style="font-size: 16px;">
                        <%= msg %>
                    </span>
                </div>
                <% } %>

                    <div class="app-content content">
                        <div class="content-overlay"></div>
                        <div class="header-navbar-shadow"></div>
                        <div class="content-wrapper">
                            <div class="content-header row"></div>
                            <div class="content-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="card">
                                            <div class="card-body">
                                                <% if (messages.success) { %>
                                                    <div id="successMessage" class="alert alert-success" role="alert">
                                                        <%= messages.success %>
                                                    </div>
                                                    <% } %>
                                                        <h4 class="card-title mb-1">Change Password 🔒</h4>
                                                        <p class="card-text mb-2">Your new password must be different
                                                            from previously used passwords</p>

                                                        <form class="auth-reset-password-form mt-2" id="cpForm"
                                                            action="/changePassword" method="POST">
                                                            <div class="mb-1">
                                                                <div class="d-flex justify-content-between">
                                                                    <label class="form-label"
                                                                        for="reset-password-new">Old Password</label>
                                                                </div>
                                                                <div
                                                                    class="input-group input-group-merge form-password-toggle">
                                                                    <input type="password"
                                                                        class="form-control form-control-merge"
                                                                        id="oldPassword" name="oldPassword"
                                                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                                        aria-describedby="password" tabindex="1"
                                                                        autofocus />
                                                                    <span class="input-group-text cursor-pointer"
                                                                        onclick="togglePasswordVisibility('oldPassword', 'password-eye')"><i
                                                                            class="feather" id="password-eye"
                                                                            data-feather="eye"></i></span>
                                                                </div>
                                                            </div>
                                                            <% if (messages.error) { %>
                                                                <div id="errorMessage" class="alert alert-danger"
                                                                    role="alert">
                                                                    <%= messages.error %>
                                                                </div>
                                                                <% } %>
                                                                    <div class="mb-1">
                                                                        <div class="d-flex justify-content-between">
                                                                            <label class="form-label"
                                                                                for="reset-password-new">New
                                                                                Password</label>
                                                                        </div>
                                                                        <div
                                                                            class="input-group input-group-merge form-password-toggle">
                                                                            <input type="password"
                                                                                class="form-control form-control-merge"
                                                                                id="newPassword" name="newPassword"
                                                                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                                                aria-describedby="reset-password-new"
                                                                                tabindex="1" autofocus />
                                                                            <span
                                                                                class="input-group-text cursor-pointer"
                                                                                onclick="togglePasswordVisibility('newPassword', 'newPassword-eye')"><i
                                                                                    class="feather" id="newPassword-eye"
                                                                                    data-feather="eye"></i></span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="mb-1">
                                                                        <div class="d-flex justify-content-between">
                                                                            <label class="form-label"
                                                                                for="reset-password-confirm">Confirm
                                                                                Password</label>
                                                                        </div>
                                                                        <div
                                                                            class="input-group input-group-merge form-password-toggle">
                                                                            <input type="password"
                                                                                class="form-control form-control-merge"
                                                                                id="confirmPassword"
                                                                                name="confirmPassword"
                                                                                placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                                                                aria-describedby="reset-password-confirm"
                                                                                tabindex="2" />
                                                                            <span
                                                                                class="input-group-text cursor-pointer"
                                                                                onclick="togglePasswordVisibility('confirmPassword', 'confirmPassword-eye')"><i
                                                                                    class="feather"
                                                                                    id="confirmPassword-eye"
                                                                                    data-feather="eye"></i></span>
                                                                        </div>
                                                                    </div>
                                                                    <button class="btn btn-primary w-100"
                                                                        tabindex="3">Set New Password</button>
                                                        </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include("../common/Footer.ejs") %>

                        <script>
                            function togglePasswordVisibility(inputId, eyeIconId) {
                                var input = document.getElementById(inputId);
                                var eyeIcon = document.getElementById(eyeIconId);
                                if (input.type === "password") {
                                    input.type = "text";
                                    eyeIcon.setAttribute("data-feather", "eye-off");
                                } else {
                                    input.type = "password";
                                    eyeIcon.setAttribute("data-feather", "eye");
                                }
                                feather.replace();
                            }
                            setTimeout(function () {
                                var successMsg = document.getElementById('successMessage')
                                var errorMsg = document.getElementById('errorMessage')
                                if (successMsg) {
                                    successMsg.style.display = 'none'
                                }
                                if (errorMsg) {
                                    errorMsg.style.display = 'none'
                                }
                            }, 3000)
                        </script>

                        <script>
                            $(document).ready(function () {
                                $('#cpForm').validate({
                                    rules: {
                                        oldPassword: {
                                            required: true
                                        },
                                        newPassword: {
                                            required: true,
                                            minlength: 5
                                        },
                                        confirmPassword: {
                                            required: true,
                                            equalTo: "#newPassword",
                                        },
                                    },
                                    messages: {
                                        oldPassword: {
                                            required: "Please enter old password"
                                        },
                                        newPassword: {
                                            required: "Please enter new password",
                                            minlength: "Password must be at least 5 characters long"
                                        },
                                        confirmPassword: {
                                            required: "Please enter confirm password"
                                        },
                                    }
                                });
                            })
                        </script>