<%-include("../common/header.ejs")%>
<%-include("../common/Navbar.ejs")%>
<%-include("../common/Sidebar.ejs")%>

<% if(msg !='' ) { %>
    <div class="alert alert-success msg" style="position: absolute; z-index: 9999; color:rgb(36, 23, 23); background-color:  #e0d1bf; right: 10px; top: 10px;">
      <span style="font-size: 16px;">
        <%= msg %>
      </span>
    </div>
    <% } %>


<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="auth-wrapper auth-v1 px-2">
                <div class="auth-inner py-2">
                    <div class="card mb-0">
                        <div class="card-body">
                            

                            <h4 class="card-title mb-1">Change Password 🔒</h4>
                            <p class="card-text mb-2">Your new password must be different from previously used passwords</p>

                            <form class="auth-reset-password-form mt-2" action="/changePassword" method="POST">
                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="reset-password-new">Old Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge" id="password" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" tabindex="1" autofocus />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                </div>

                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="reset-password-new">New Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge" id="newPassword" name="newPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="reset-password-new" tabindex="1" autofocus />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                </div>


                                <div class="mb-1">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="reset-password-confirm">Confirm Password</label>
                                    </div>
                                    <div class="input-group input-group-merge form-password-toggle">
                                        <input type="password" class="form-control form-control-merge" id="confirmPassword" name="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="reset-password-confirm" tabindex="2" />
                                        <span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                    </div>
                                </div>
                                <button class="btn btn-primary w-100" tabindex="3">Set New Password</button>                           
                            </form>   
                                        
                        </div>
                    </div>
                 
                </div>
            </div>

        </div>
    </div>
</div>
<%-include("../common/Footer.ejs")%>
